{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/three@0.121.1/build/three.min.js"></script>

<script type = "module" src="{% static 'js/main.js' %}" defer> </script>

{% endblock scripts %}

{% block content %}

    <div id="scene-box"></div>
    <div id="messages">
        <input type="text" id="message-input" placeholder="Enter message">
        <button id="send-message">Send</button>
    </div>
    <div class="loading" id="js-loader"><div class="loader"></div></div>
    <script>
        
        var ws = new WebSocket("ws://localhost:8000/practice/");
        
        //onmessage waits for coonection
        ws.onmessage = function(event) {
        var messages = document.getElementById('messages');
        var message = document.createElement('p');
        message.textContent = event.data;
        messages.appendChild(message);
        };
    
        var messageInput = document.getElementById('message-input');
        var sendMessageButton = document.getElementById('send-message');
    
        sendMessageButton.addEventListener('click', function() {
        var message = messageInput.value;
        
        if (message.trim() !== '') { // Check if message is not empty
            console.log(message);
            ws.send(message);
            messageInput.value = ''; 
        }
        });
        
    
    </script>
{% endblock %}
